<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.troylc.rpcconsumer"/>
    <context:annotation-config/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceDiscovery" class="com.troylc.rpcserver.registryz.zookeeper.ZooKeeperServiceDiscovery">
        <constructor-arg name="zkAddress" value="${rpc.registry_address}"/>
    </bean>

    <bean id="rpcProxy" class="com.troylc.rpcserver.proxy.RpcProxy">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
    </bean>

    <bean id="helloService" factory-bean="rpcProxy" factory-method="create">
        <constructor-arg type="java.lang.Class" value="com.troylc.rpcinterfaces.sampleApi.HelloService" />
    </bean>
    <bean id="helloService2" factory-bean="rpcProxy" factory-method="create">
        <constructor-arg type="java.lang.Class" value="com.troylc.rpcinterfaces.sampleApi.HelloService" />
        <constructor-arg value="sample.hello2"/>
    </bean>

</beans>